body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #e0e0e0;
  margin: 0;
  padding: 0;
}

#app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  background-color: #1e1e1e;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 5px;
}

h1 {
  margin: 0;
  font-size: 2rem;
  color: #BB86FC;
}

button {
  background-color: #3700B3;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}

button:hover {
  background-color: #6200EE;
}

#logout-btn {
  background-color: #CF6679;
}

#logout-btn:hover {
  background-color: #A00037;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

section {
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

h2 {
  color: #03DAC6;
  margin-top: 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, select, textarea {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #333;
  background-color: #2c2c2c;
  color: #e0e0e0;
}

#search-section {
  grid-column: 1 / -1;
  display: flex;
  gap: 10px;
}

#search-type, #search-input {
  flex-grow: 1;
}

#backups-list {
  list-style-type: none;
  padding: 0;
}

#backups-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #333;
}

#search-results table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #2c2c2c;
}

#search-results th, #search-results td {
  border: 1px solid #444;
  padding: 12px;
  text-align: left;
}

#search-results th {
  background-color: #333;
  font-weight: bold;
  color: #03DAC6;
}

#search-results tr:nth-child(even) {
  background-color: #262626;
}

#search-results tr:hover {
  background-color: #3a3a3a;
}
#add-book-form {
  display: none;
}
#author-form {
  display: none;
}
#user-form {
  display: none;
}
#loan-form {
  display: none;
}
#update-book-form {
  display: none;
}

@media (max-width: 768px) {
  main {
      grid-template-columns: 1fr;
  }
}